apiVersion: v1
kind: Secret
metadata:
  name: hcloud
  namespace: kube-system
stringData:
  token: "{{ hcloud_token.stdout }}"
  network: "{{ hcloud_network.stdout }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: hcloud-csi
  namespace: kube-system
stringData:
  token: "{{ hcloud_token.stdout }}"
